<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <img src="<%= @project.image %>" style="width:280px;height:210px;">
    <h1><%= @project.title %></h1>
    <hr>
  </header>

  <div id="content">
    <%= markdown @project.description %>
  </div>

  <hr>

  <div class="button_wrapper">
    <a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
  </div>

</div>